$white: #ffffff;
$yellow: #fffc00;
$black: #000000;
$light_blue: #87A9F5;
$blue: #567BD0;
$light_gray: #E7E7E7;
$red: #FF0000;
$green: #00C22E;
$hr_blue: #DBF8FF;
$footer_links: #898989;
$gray: #CACACA;
$gray_dark: #7D7D7D;
$slider_active: #466FCC;
$slider_bg: #FFC6C2;